<form {{action 'save' on='submit'}}>
  Identificador {{input type='text' value=grupo.identificador}}
  Periodo {{input type='text' value=grupo.periodo}}

<!-- <button {{actions 'saveAlumno'}}>Añadir Alumno</button>
<table class="table table-hover table-sm table-bordered table-info">

</table> -->

<button class="btn btn-info">Guardar</button>



</form>
