<!-- <div class="navbar-fixed ">
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#" class="brand-logo">App4teachers</a>
      <ul class="right  hide-on-med-and-down">
        <li>
          {{#link-to 'inicio'}}INICIO {{/link-to}}
        </li>
        <li>
          {{#link-to 'lista-materias'}}MATERIAS{{/link-to}}
        </li>
        <li>
          {{#link-to 'lista-examenes'}}EXAMENES{{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="one">
  {{outlet}}
</div> -->

<nav class="navbar fixed-top navbar-dark bg-dark text-white" >
      <h1 style="color:FireBrick">App4teachers</h1>

        <ul class="nav justify-content-end nav-pills">
          <li class="nav-item active">
            {{#link-to 'inicio' class='nav-link'}}Inicio{{/link-to}}
            </li>
          <li class="nav-item">
            {{#link-to 'lista-materias' class='nav-link'}}Materias{{/link-to}}
          </li>
          <li>
            {{#link-to 'lista-examenes' class='nav-link'}}Examenes{{/link-to}}
          </li>
          <!-- <li>
            {{#link-to 'login' class='nav-link'}}Login{{/link-to}}
          </li> -->
          <!-- <li>
            <a {{action 'logOut'}}>LogOut</a>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->

    </nav>

    <main role="main" class="container" id="main">

      <div class="starter-template" id="app">
        <div class="text-left">
            {{outlet}}
        </div>
      </div>


    </main>
